<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:300,400,700|Inconsolata" rel="stylesheet">
        {% style "css/normalize.css" %}
        {% style "css/blog.css" %}
        {% style "css/lotus-highlightjs.min.css" %}
    </head>
    <body>
        <aside id="sidebar">
            <div id="logo">
                <a title="{{title}}" href="{{index-uri}}">
                    <img class="icon" src="{{blog-prefix}}/img/white-lotus.svg">
                    <div class="text desktop-and-tablet-only">{{title}}</div>
                    <div class="text mobile-only">{{title}}</div>
                </a>
            </div>

            <nav id="sidebar-links">
                <nav id="menucont">
                    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                    <label for="menu-checkbox" class="menutitle">
                        <svg class="icon icon-menu" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-menu"></use></svg><span class="menu-text">Menu</span>
                    </label>
                    <ul class="menu">
                        <li  class="active" ><a title="Home" href="/clojure-backtesting-website/">Home</a></li>
                        <li >
                            <a href="/clojure-backtesting-website/pages/user-guide/">User Guide</a>
                        </li>
                        
                        <li >
                            <a href="/clojure-backtesting-website/pages/api/">Basic APIs</a>
                        </li>
                        
                        <li ><a title="Archives" href="/clojure-backtesting-website/pages/portfolio">Porfolio Mangement</a></li>
                        <li ><a title="Archives" href="/clojure-backtesting-website/pages/evaluate">Evaluation</a></li>
                        <li ><a title="Archives" href="/clojure-backtesting-website/pages/parameters">Parameters</a></li>
                        <!-- <li><a title="RSS" href="{{rss-uri}}"><div class="menu-item-text">RSS</div></a></li> -->
                    </ul>
                </nav>

                <nav id="socialmedia">
                    <ul>
                        <li><a title="LinkedIn" href="https://www.linkedin.com/in/matthewdavidson1" rel="external"><svg class="icon icon-linkedin"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-linkedin"></use></svg></a></li>
                        <li><a title="GitHub" href="https://github.com/KingMob" rel="external"><svg class="icon icon-github-circled"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-github-circled"></use></svg></a></li>
                        <li><a title="RSS Feed" href="{{rss-uri}}"><svg class="icon icon-rss-squared"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-rss-squared"></use></svg></a></li>
                    </ul>
                </nav>
            </nav>
        </aside>

        <article id="main">
            {% block content %}
            {% endblock %}
            <hr/>
            <div id="footercont">
                Copyright &copy; {{today|date:yyyy}} {{author}}
                <br>Powered by <a href="http://cryogenweb.org">Cryogen</a>
                <br>Theme by <a href="http://github.com/KingMob">KingMob</a>
            </div>
        </article>

        {% script "js/highlight.pack.js" %}
        <script>hljs.initHighlightingOnLoad();</script>

        {% if post.klipse %} {{post.klipse|safe}} {% endif %}
        {% if page.klipse %} {{page.klipse|safe}} {% endif %}
    </body>
</html>
